@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font: 18px/1.5 "Roboto", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Oswald", sans-serif;
    margin-bottom: 2rem;
}

h1 {
    font-size: 2.5rem;
    color: #1c4774;
}

h2 {
    font-size: 2rem;
    color: #4075ad;
}

h3 {
    font-size: 1.5rem;
    color: #9ad0e2;
}

p {
    font-size: 1rem;
    color: #000;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #1c4774;
    transition: 0.5s color;
}

a:hover {
    color: #9ad0e2;
    transition: 0.5s color;
}

.not_today {
    color: #F55D3E;
}

.today {
    color: green;
}

/* Navbar */

.navbar {
    position: sticky;
    top: 0;
    padding: 0;
    background-color: #1c4774;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    z-index: 9999;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}

.navbar ul li {
    min-width: 20%;
    text-align: center;
}

.navbar-item {
    display: block;
    min-width: 100%;
    height: 100%;
    padding: 15px 0;
    color: #fff;
    transition: 0.5s background-color;
}

.navbar-item:hover {
    background-color: #4075ad;
    color: #fff;
    transition: 0.5s background-color;
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1c4774;
    text-align: center;
}

footer p {
    margin: 0;
    padding: 10px;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #fff;
}

.admin-navbar {
    position: fixed;
    right: 20px;
    bottom: 35px;
}

.admin-navbar-item {
    position: relative;

    display: block;
    width: 50px;
    height: 50px;

    line-height: 39px;

    font-size: 24px;
    color: #fff;
    text-align: center;

    padding: 5px;
    margin-top: 5px;

    border-radius: 50px;
    background-color: #F55D3E;

    box-shadow: 0px 5px 10px -5px #000000;
}

.admin-navbar-item:hover {
    animation: bouncing 0.9s infinite;
    color: #fff;
}

.item-logout {
    background-color: darkred;
}

@keyframes bouncing {
    0% {
        right: 0px;
    }

    50% {
        right: 10px;
    }

    100% {
        right: 0px;
    }
}

/* Body Wrapper */
.container {
    margin: 2em auto 5rem;
    max-width: 1024px;
    width: 95%;
    display: flex;
    justify-content: center;
}

.container code {
    background: #f5f5f5;
    padding: 2px 6px;
}

.body-wrapper {
    min-width: 80%;
    border-right: 1px solid #e4eef9;
    margin-right: 25px;
    padding-right: 25px;
}

/* Aside */
aside {
    min-width: 20%;
}

aside .search-form {
    position: relative;
    padding-bottom: 1.5rem;
}

aside .search-input {
    max-width: 100%;
}

aside .btn-search {
    position: absolute;
    top: 2px;
    right: 5px;
    background-color: transparent;
    color: #1c4774;
    border: none;
}

aside .btn-search:hover {
    color: #5eb5e0;
}

aside h3 {
    margin-bottom: .5rem;
    color: #5eb5e0;
}

aside ul {
    margin: 0 0 15px;
    padding: 0;
}

/* Index */
.article-preview {
    position: relative;
    margin: 0 0 5rem 0;
}

.article-preview::after {
    position: absolute;
    display: block;
    bottom: -2.5rem;
    left: 0;
    content: '';
    width: 40%;
    height: 2px;
    color: #F55D3E;
    background-color: #e4eef9;
}

.article-preview h3 {
    margin: 0;
}

.article-preview .creation-date {
    font-style: italic;
    color: #5eb5e0;
}

.article-preview .new-article::before {
    position: absolute;
    top: 0;
    left: -30px;
    font-family: FontAwesome;
    content: '\f3b1';
    font-weight: 900;
    color: #F55D3E;
}

/* Index - Pagination */
.pagination {
    display: flex;
    justify-content: space-between;
}

.next, .previous {

}

.next a, .previous a {
    display: flex;
    align-items: center;
    font-size: .9rem;
    line-height: 0;
}

.next a i, .previous a i {
    font-size: 1.5rem;
}

.next a i {
    margin-left: 0.8rem;
}

.previous a i {
    margin-right: 0.8rem;
}



