<nav class="navbar">
    <ul>
        <li class="item-container">
            <a class="navbar-item item-home" href="{{ path('home') }}">Accueil</a>
        </li>
        <li class="item-container">
            <a class="navbar-item item-article" href="{{ path('article') }}">Article</a>
        </li>
        <li class="item-container">
            <a class="navbar-item item-twig" href="{{ path('twig') }}">Twig</a>
        </li>
    </ul>
</nav>

<nav id="adminNavBar" class="admin-navbar">
    <ul>
        <li class="item-container">
            <a class="admin-navbar-item item-login" href="#">
                <i title="Voir son profil" class="far fa-user"></i>
            </a>
        </li>
        <li class="item-container">
            <a class="admin-navbar-item item-create" href=" {{ path('create') }}">
                <i title="Créer un nouvel article" class="fas fa-plus"></i>
                
            </a>
        </li>
        
    </ul>
</nav>