{% extends 'base.html.twig' %}

{% block title %} Article non trouvé {% endblock %}

{% block body %}

<div class="body-wrapper">
    <h1>Article non trouvé</h1>
    <p>Oups ! Cet article n'existe pas !</p>
    <a href="{{ path('article') }}">Revenir à la liste des articles</a>
</div>

{% endblock %}
