{% extends 'base.html.twig' %}

{% block title %}Ajouter un article{% endblock %}



{% block body %}

    <div class="body-wrapper">
        <h1>Ajouter un article</h1>

        {{ form(form) }}
    </div>
{% endblock %}